<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="featured-container">
    <!-- Rectangular Box -->
    <div class="featured-rectangle">
        <a href="{{ site.baseurl }}{{ post.url }}">
            {% if site.lazyimages == "enabled" %}
            <img class="featured-rectangle-img lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
            {% else %}
            <img class="featured-rectangle-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
            {% endif %}
        </a>
        <div class="featured-rectangle-content">
            <h2 class="rectangle-title">
                <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                {% if post.rating %}
                <div class="mb-2 mt-2 font-weight-normal">
                    {% include star_rating_postbox.html %}
                </div>
                {% endif %}
            </h2>
            <p class="rectangle-text">{{ post.excerpt | strip_html | truncatewords:25 }}</p>
        </div>
    </div>
    <!-- Two Smaller Boxes -->
    <div class="featured-boxes">
        <!-- Box 1 -->
        <div class="featured-box">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if site.lazyimages == "enabled" %}
                <img class="featured-box-img lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                {% else %}
                <img class="featured-box-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                {% endif %}
            </a>
            <div class="featured-box-content">
                <h3 class="box-title">
                    <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h3>
            </div>
        </div>
        <!-- Box 2 -->
        <div class="featured-box">
            <a href="{{ site.baseurl }}{{ post.url }}">
                {% if site.lazyimages == "enabled" %}
                <img class="featured-box-img lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                {% else %}
                <img class="featured-box-img" src="{% if post.image contains "://" %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %}">
                {% endif %}
            </a>
            <div class="featured-box-content">
                <h3 class="box-title">
                    <a class="text-dark" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
                </h3>
            </div>
        </div>
    </div>
</div>
<!-- end post -->
